body {
  background-color: rgb(175,175,175);
}

#body {
  background-color: rgb(255,255,254);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 2px;
  max-width: 1000px;
  margin: auto;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

.header {
  text-align: center;
}

#contact_box {
  max-width: 800px;
  margin: auto;
  margin-top: 25px;
  padding: 10px 20px;
  background-color: rgb(240,240,185);
}
