body {
  background-color: rgb(175,175,175);
}

#body {
  background-color: rgb(255,255,254);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 2px;
  max-width: 1000px;
  margin: auto;
}

h1 {
  margin: inherit;
  padding: inherit;
  color: inherit;
}

h2 {
  margin: inherit;
  padding: inherit;
  color: inherit;
}

h3 {
  margin: inherit;
  padding: inherit;
  color: inherit;
}

h4 {
  margin: inherit;
  padding: inherit;
  color: inherit;
}

h5 {
  margin: inherit;
  padding: inherit;
  color: inherit;
}

h6 {
  margin: inherit;
  padding: inherit;
  color: inherit;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.right {
  width: 40%;
  text-align: right;
}

.left {
  width: 60%;
  text-align: left;
}

.column {
  float: left;
  padding: 5px;
}

.row {
  display: flex;
}

.row:after {
  content: "";
  clear: both;
}

.req {
  color: red;
}

/* label {
  margin-top: 15px;
  margin-bottom: 2px;
} */

input[type=text], textarea {
  width: 75%;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 3px;
  border: 1px solid rgb(150,150,150);
}

textarea {
  resize: vertical;
  min-height: 16px;
}

#contact_box {
  max-width: 800px;
  margin: auto;
  margin-top: 25px;
  padding: 15px 20px;
  background-color: rgb(240,240,185);
}
