:root {
    --bg-navy: #343a40;

    --revibe-purple: #7248bd;
    --louisiana-blue: #007299;
    --chevron-blue: #0066B2;

    --sm-margin: 10px;
    --md-margin: 25px;
    --lg-margin: 40px;
}
p {
    font-size: 1.3rem;
}
footer.footer {
    margin-bottom: 15px;
}