:root {
    --bg-navy: #343a40;

    --revibe-purple: #7248bd;

    --sm-margin: 10px;
    --md-margin: 25px;
    --lg-margin: 40px;
}

/* main {
    margin-top: 10px;
} */

h1,h2,h3,h4,h5,h6,p {
    cursor: default;
}
p {
    font-size: 1.4rem;
}

footer.footer {
    margin-bottom: 15px;
}