.sm-margin-top {
    margin-top: var(--sm-margin);
}
.sm-margin-bottom {
    margin-bottom: var(--sm-margin);
}
.sm-margin-right {
    margin-right: var(--sm-margin);
}
.sm-margin-left {
    margin-left: var(--sm-margin);
}
.md-margin-top {
    margin-top: var(--md-margin);
}
.md-margin-bottom {
    margin-bottom: var(--md-margin);
}
.md-margin-right {
    margin-right: var(--md-margin);
}
.md-margin-left {
    margin-left: var(--md-margin);
}
.lg-margin-top {
    margin-top: var(--lg-margin);
}
.lg-margin-bottom {
    margin-bottom: var(--lg-margin);
}
.lg-margin-right {
    margin-right: var(--lg-margin);
}
.lg-margin-left {
    margin-left: var(--lg-margin);
}
.color-revibe {
    color: var(--revibe-purple);
}