.img-container {
    min-width: 230px;
}
.rounded-corners {
    border-radius: 30%;
}

.img-right {
    float: right;
}
.im-left {
    float: left;
}
.img-right::after,
.img-left::after {
    content: "";
    display: table;
    clear: both;
}